/.idea
/geckodriver.log!/msedgedriver.exe
!/geckodriver.log
!/geckodriver.exe
!/msedgedriver.exe
*.ods
build/
dist/
entrees_SATD/
sorties_SATD/
venv/
archives_SATD/
/.spec
/.log
/.exe
/msedgedriver.exe
/geckodriver.exe
/geckodriver.log
/gotoconfig
