/.idea
/geckodriver.log!/msedgedriver.exe
!/geckodriver.log
!/geckodriver.exe
!/archives_SATD/
!/automate_SATD.log
!/msedgedriver.exe
*.ods
/build/
/dist/
/entrees_SATD/
/sorties_SATD/
/venv/
/archives_SATD/
